<!--View mode-->
<!--<app-user-editor></app-user-editor>-->
<section *ngIf="!isEditMode" class="user-selector">
  <h1>{{title}}</h1>

  <ul>
    <!--ngFor like For loop in html-->
    <!--users is come from the app.component.ts in the this.users-->
    <!--let is javascript for loop the value -->
    <li *ngFor="let item of users">
      {{item.name}} <span class="age">{{item.age}}</span>
    </li>
  </ul>
  <h1>Details of the user</h1>
  <div>
    <!--change user. to selectedUser.name-->
    <b>Name:</b>{{selectedUser.name}}<br/>
    <b>Age:</b>{{selectedUser.age}}<br/>
    <b>Height:</b>{{selectedUser.weight}}<br/>
    <b>Weight:</b>{{selectedUser.height}}<br/>
    <b>Password:</b>{{selectedUser.password}}<br/>
    <b>BMI:</b>{{selectedUser.getBMI()}}<br/>

  </div>
  <span *ngIf="selectedUser.isHealty()"></span>
  <!--add edit button heere on bottom-->
  <button (click)="isEditMode=true">EDIT</button>
</section>

<section *ngIf="isEditMode">
  <h2>Editor</h2>
  <div>
      <button (click)="isEditMode=false">Back</button>

      <!--This is for debugging the data -->
      <!--Code will be on the https://github.com/modernduck/hello-editor/commit/c61ec03d667858502be1b5e85a980c5f04405d47-->
      <pre>{{user | json}}</pre>
      <!--<input type="test" value="{{user.name}}"/><br/>-->
      <!--<input type="number" value="{{user.age}}"/><br/>-->
      <input type="text" [(ngModel)]="selectedUser.name" /><br/>
      <input type="number" [(ngModel)]="selectedUser.age"/><br/>
      <input type="number" [(ngModel)]="selectedUser.weight"/><br/>
      <input type="number" [(ngModel)]="selectedUser.height"/><br/>

      <button (click)="onCheckAge()">Check Age</button>
      <button (click)="onCheckBMI()">Check BMI</button>
  </div>
  
</section>
